<h5>商品新規登録</h5>
<div class= "row">
<%= form_with model: @item ,url: admin_items_path do |f| %>
<table class="table table-borderless align-items-center justify-content-center">
  <tr>
    <div class="form-group">
      <td>商品画像</td>
      <td><%= f.file_field :image,acceppt:"image/*" %></td>
    </div>
  </tr>

  <tr>
    <div class="form-group">
    <td>商品名</td>
    <td><%= f.text_field :name %></td>
    </div>
  </tr>

  <tr>
    <div class="form-group">
    <td>商品説明</td>
    <td><%= f.text_area :introduction %></td>
    </div>
  </tr>

  <!--<tr>
    <div class="form-group">
    <td>ジャンル</td>
    <td><= f.collection_select :, Category.all, :id, :category_name, include_blank: true %></td>
    </div>
  </tr>
  -->

  <tr>
    <div class="form-group">
    <td>税抜価格</td>
    <td><%= f.text_field :price %><span>円</span></td>
    </div>
  </tr>

    <tr>
      <div class="form-group">
    <td>販売ステータス</td>
    <td>
      <%= f.label :is_active, '販売中', value: 1 %>
      <%= f.radio_button :is_active, '1' %>

      <%= f.label :is_active, '販売停止中', value: 0 %>
      <%= f.radio_button :is_active, '0' %>
     </td>
  </tr>

</table>

  <div class="form-group text-center">
    <%= f.submit '新規登録' ,class: "btn btn-success" %>

  </div>
<% end %>
</div>