

<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6" >


        <h5><span class="bg-light">管理者ログイン</span></h5>


      <table cellpadding="5">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <tr>
            <div class="field">

              <td><%= f.label :email, "メールアドレス" %></td>
              <td><p>　　　</p></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>

            </div>
          </tr>
          <tr>
            <div class="field">
             <td> <%= f.label :password , "パスワード" %></td>
             <td></td>
              <td><%= f.password_field :password, autocomplete: "current-password" %></td>
            </div>
          </tr>
        </table>

        <div class="form-group row">
          <%= f.submit "ログイン" , class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render "admin/shared/links" %>
