


<div class="row image">


    <div class="col-md-8">
      <div class="card-img-overlay">
        <p class="card-text">ようこそ、ながのCAKEへ ! <br>
          このサイトは、ケーキ販売のECサイトになります。<br>
         会員でない方も商品の関覧はできますが、<br>
          購入には会員登録が必要になります。</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h4>新着商品</h4>
    </div>

  </div>
  <div class="row">
       <% @items.each do |item| %>
         <% if item.is_active? %>
        <div class="col-md-3">

          <% if item.image.attached? %>
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.image, size: "200x150" %>
            <% end %>
          <% else %>
            <%= link_to item_path(item.id) do %>
              <%= image_tag 'no_image', size: "200x150" %>
            <% end %>
          <% end %>

          <br>

          <%= item.name %>
          <span>￥</span><%= item.with_tax_price.to_s(:delimited) %>

        </div>
        <% end %>
      <% end %>

    <div class="row">
      <div class="d-flex float-right col-md-12">
      <%= link_to '全ての商品を見る>' , items_path %>
      </div>
    </div>
  </div>

