
  <div class="row">


    <div class=top-image>

    <p>ようこそ、ながのCAKEへ ! <br>
    このサイトは、ケーキ販売のECサイトになります。<br>
     会員でない方も商品の関覧はできますが、<br>
    購入には会員登録が必要になります。</p>

    </div>
  </div>

  <div class="row">

      <h4>新着商品</h4>
  </div>
  <div class="row">
       <% @items.each do |item| %>
        <div class="col-md-3">

          <% if item.image.attached? %>
            <%= image_tag item.image,size: "200x150" %>
          <% else %>
            <%= image_tag 'no_image',size: "200x150" %>
          <% end %>

          <%= item.name %>
          <span>￥</span><%= item.price.to_s(:delimited) %>

        </div>
      <% end %>

    <div class="row">
      <%= link_to '全ての商品を見る>' , items_path %>
    </div>
  </div>

