<h5><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h5>

<div class="row">
  <div class="col-md-10">

    <%= form_with model: @customer ,url: admin_customer_path(@customer.id) , method: :patch do |f| %>


    <table class="table table-borderless align-items-center justify-content-center">

      <tr>
        <td>名前</td>
        <td>
          <div class="field">

            <%= f.text_field :last_name, autofocus: true %>
          </div>
        </td>
        <td>
          <div class="field">

            <%= f.text_field :first_name %>
          </div>
        </td>
      </tr>


      <tr>
        <td>フリガナ</td>
        <td>
          <div class="field">
            <%= f.text_field :last_name_kana %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :first_name_kana %>
          </div>
        </td>
      </tr>


      <tr>
        <td>郵便番号(ハイフンなし)</td>
          <td>
          <div class="field">
            <%= f.text_field :postal_code %>
          </div>
        </td>
        <td></td>
      </tr>

      <tr>
        <td>住所</td>
          <td>
          <div class="field">
            <%= f.text_field :address %>
          </div>
        </td>
        <td></td>
      </tr>

      <tr>
        <td>電話番号(ハイフンなし)</td>
          <td>
          <div class="field">
            <%= f.text_field :telephone_number %>
          </div>
        </td>
        <td></td>
      </tr>

      <tr>
        <td>メールアドレス</td>
         <td>
          <div class="field">
            <%= f.email_field :email, autocomplete: "email" %>
          </div>
        </td>
        <td></td>
      </tr>

      <tr>
        <td>会員ステータス</td>
        <td>
          <%= f.radio_button :is_deleted, "true" %>
          <%= f.label :is_deleted, "有効" %>

          <%= f.radio_button :is_deleted, "false" %>
          <%= f.label :is_deleted, "退会" %>

        </td>
      </tr>

    </table>

  </div>
</div>




    <%= f.submit '編集内容を保存' ,class: "btn btn-success" %>


<% end %>

