<div class="container">
  <div calss="row">

    <h5>注文情報入力</h5>
    <%= form_with model: @order do |f| %>
    
    <h5>支払方法</h5>

      <%= f.radio_button :payment_method, "credit_card" %>
      <%= f.label :payment_method_credit_card, "クレジットカード" %>

      <%= f.radio_button :payment_method, "transfer" %>
      <%= f.label :payment_method_transfer, "銀行振込" %>
      
    <h5>お届け先</h5>
      <%= f.radio_button :address, current_customer.order.address %>

  <% end %>
  </div>
</div>

