<h5>注文履歴詳細</h5>

<div class="container">

  <div class="row">

    <h6>注文情報</h6>
    <table class="table table-bordered col-md-6">
      <tr>
        <th class="table-secondary">注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th class="table-secondary">配送先</th>
        <td><%= @order.address %></td>
      </tr>
      <tr>
        <th class="table-secondary">支払方法</th>
        <td><%= @order.payment_method %></td>
      </tr>
    </table>


    <p>請求情報</p>
    <table class="table table-bordered col-md-3">
      <tr>
        <th class="table-secondary">商品合計</th>
        <td><%= (@order.total_payment-@order.shipping_cost).to_s(:delimited) %></td>
      </tr>
      <tr>
        <th class="table-secondary">配送料</th>
        <td><%= @order.shipping_cost %></td>
      </tr>
      <tr>
        <th class="table-secondary">ご請求額</th>
        <td><%= @order.total_payment.to_s(:delimited) %></td>
      </tr>
    </table>

  </div>


  <div class="row">
    <p>注文内容</p>
    <table class="table table-bordered col-md-8">
      <thead class="thead-light">
        <tr>
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
      <% @order_details.each do |order_detail| %>
        <tr>
          <!--以下eachで注文の繰り返し-->
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.price.to_s(:delimited) %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.subtotal.to_s(:delimited) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

