
<h4>商品一覧(全<%= @items.count %>件)</h4>

<div class="row">


  <% @items.each do |item| %>
  <div class="col-md-3">
      <!--画像-->

      <% if item.image.attached? %>
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.image, size: "200x150" %>
        <% end %>
      <% else %>
        <%= link_to item_path(item.id) do %>
          <%= image_tag 'no_image', size: "200x150" %>
      <% end %>
    <% end %>
      <br>
      <!--商品名-->
      <%= item.name %>
      <br>
      <!--価格-->
      <span>￥</span><%= item.price.to_s(:delimited) %>
  </div>
  <% end %>

</div>
<%= paginate @items %>