<%= flash[:notice] %>

<h5></h5>
<div class="row">
  <div class="col-md-5" >
  <% if @item.image.attached? %>
    <%= image_tag @item.image,size: "200x150" %>
  <% else %>
    <%= image_tag 'no_image',size: "200x150" %>
  <% end %>
  </div>


  <div class="col-md-7" >
        <!--商品名-->
        <%= @item.name %><br>
        <!--商品説明-->
        <%= @item.introduction %><br>
        <!--税抜価格<--></-->
        <span>¥</span><%= @item.with_tax_price.to_s(:delimited) %><span>(税込)</span>


    <div class="text-center">
      <%= form_with model: @cart_item do |f| %>

      <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :amount, *[1..10] ,include_blank: "個数選択" %>
        <%= f.submit "カートに入れる",class: "btn btn-success " %>
      <% end %>
    </div>
  </div>
